/* reset the css */
* {
    vertical-align: baseline;
    font-weight: inherit;
    font-family: inherit;
    font-style: inherit;
    font-size: 100%;
    border: 0 none;
    outline: 0;
    padding: 0;
    margin: 0;
} 

.container{
    width: 970px;
    height: 630px;
    border: 5px solid black;
}

.world{
    height: fit-content;
    width: fit-content;
    border: 5px solid black;
    margin: auto;
}

.world_row div{
    border: 2px solid grey;
    width: 50px;
    height: 50px;
    display:  inline-block;

}

.world_row .open_space{
    background-color: red;
}
.world_row .wall{
    background-color: black;
}

.world_row .pacman {
    background-image: url("img/packman.png");
    background-size: contain;
    background-repeat: no-repeat;
}


.world_row .coin {
    background-image: url("img/ruby.png");
    background-size: 30%;
    background-color: red;
    background-repeat: no-repeat;
    background-position: center;
}


/* .world_row .coin {
    background-image: url("img/ruby.png");
    height: 5%;
    z-index:0;
    display: inline-block;
    position: relative;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    margin:-60px 0 0 -60px;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}

@-moz-keyframes spin { 
    100% { 
        -moz-transform: rotate(180deg); } }
@-webkit-keyframes spin { 
    100% { 
        -webkit-transform: rotate(180deg); } }
@keyframes spin { 
    100% { 
        -webkit-transform: rotate(180deg); transform:rotate(180deg); } }
 */


/* 

.image {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 120px;
    height: 120px;
    margin:-60px 0 0 -60px;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
 */
/* .block{
    border: 2px solid grey;
    width: 50px;
    height: 50px;
    display:  inline-block;
} */


.wall{
    height: 50px;
    width: 50px;

}

.scoreboard{
    width: 55%;
    margin: auto;
    height: 20%;
    background-color: rgba(35, 216, 240, 0.849);
    font-size: 20pt;
    /* display: inline-block; */
    /* top: 10px; */
    /* right:  10px; */
    /* vertical-align: top; */
}
